body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #212529;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}


img {
    display: block;
    max-width: 100%;
}